i {
	font-size: 2em;
}

.one, .two, .three, .four, .third {
	display: none;
}

body {
	background-color: #517fa4;
	font-family: 'Lora', serif;
}

*, h1, h2, h3, h4, ul, a, li {
	font-family: 'Lora', serif;
}

.bcfade {
	background-color: #FFFFFF;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.final {
	font-family: 'Ubuntu', sans-serif;
	background-color: #FFFFFF;
}

.final h3, .final *, .final p, .final a, .final .accordion .accordion-navigation > a, .accordion dd > a {
	font-family: 'Ubuntu', sans-serif;
}

i.fi-social-facebook {
	color: #3b5998;
}

i.fi-social-linkedin {
	color: #007bb6;
}

i.fi-social-twitter {
	color: #00aced;
}

i.fi-social-github {
	color: #000000;
}

.soci {
	position: fixed;
	top: 15%;
	background-color: #FFFFFF;
	width: 5%;
	border-radius: 0px 5px 5px 0px;
}

.soci p i {
	font-size: 2em;
}

#email {
	display: inline;
}

.four {
	margin-bottom: 5%;
}

.ani {
	transition: transform .5s, text-shadow .5s;
}

.ani:hover {
	display: inline-block;
	transform: rotate(360deg);
	text-shadow: 1px 1px 1px #000000;
}